snippet / "single line comment" b
# ${0}
endsnippet

snippet // "block comment" b
#####################################################################
# ${1}
#####################################################################${0}
endsnippet

snippet for "for in statement " b
for ${1} in ${2}:
	${0}
endsnippet
